.top-users-container {
    margin: 20px;
    text-align: center;

    table {
        width: 100%;
        margin-top: 20px;
    }

    th,
    td {
        text-align: left;
        padding: 10px;
    }
}