<div style="margin-left: auto; margin-right: auto">
    <p id="profileFeedback"></p>
</div>
<div>
    <h1>Profile</h1>
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
        <div>
            <label for="username">Username: </label>
            <input type="text" [formControl]="username" />
            <div *ngIf="username.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                <div *ngIf="username.errors.required">Name is required</div>
                <div *ngIf="username.errors.minlength">
                    Name must be at least 5 characters long.
                </div>
                <div *ngIf="username.errors.maxlength">
                    Name can be max 25 characters long.
                </div>
            </div>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" [formControl]="email" />
            <div *ngIf="email.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.pattern">Email not a valid format.</div>
            </div>
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" [formControl]="password" />
            <div *ngIf="password.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                    Password must be at least 8 characters long.
                </div>
            </div>
        </div>

        <button type="submit">Update User</button>
    </form>
</div>