<div class="profile-container">
    <div id="profileFeedback"></div>

    <mat-card class="profile-card">
        <mat-card-header>
            <mat-card-title>Profile</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="profileForm" (ngSubmit)="updateUser()" class="profile-form">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" [formControl]="username" />
                    <mat-error *ngIf="username.errors?.['required']">Username is required</mat-error>
                    <mat-error *ngIf="username.errors?.['minlength']">Username must be at least 3 characters
                        long</mat-error>
                    <mat-error *ngIf="username.errors?.['maxlength']"> Username can be max 50 characters
                        long</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [formControl]="email" />
                    <mat-error *ngIf="email.errors?.['required']">Email is required</mat-error>
                    <mat-error *ngIf="email.errors?.['pattern']">Email is not a valid format</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControl]="password" />
                    <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
                    <mat-error *ngIf="password.errors?.['minlength']">Password must be at least 8 characters</mat-error>
                    <mat-error *ngIf="password.errors?.['maxlength']">Password cannot exceed 16 characters</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">
                    Update User
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>