.game-container {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.choices-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.choice-section {
    flex: 1 1 45%;
    text-align: center;
}

.choice-section h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.game-image {
    width: 320px;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.player-image {
    transform: scaleX(-1);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.animate {
    animation: bounce 0.5s ease-in-out infinite;
}

.result-section mat-card {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 8px;
}

.result-section mat-card.win {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.result-section mat-card.lose {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

.result-section mat-card.tie {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
}

.center-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

button {
    min-width: 120px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    color: black;
}

button:active {
    transform: scale(0.95);
    color: black;
}

@media (max-width: 600px) {
    .center-actions {
        flex-direction: column;
        gap: 15px;
    }

    button {
        min-width: 80%;
        padding: 10px 15px;
        font-size: 16px;
    }
}

.score-section {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.score-section mat-card-header {
    text-align: center;
    justify-content: center;
}

.score-section h2 {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin: 0;
    /* Elimina el espacio extra alrededor del texto */
    text-align: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}